/* HEADER */
header {
  min-height: 10vh;
  padding: 0.6rem 0rem;
  background-color: $text-color;
}

/* NAVGATION BAR */
nav {
  @include flex(initial, center, row);
  font-family: "Nunito", serif;
  width: 90%;
  margin: 0 auto;
  background-color: $text-color;
}

.header-funtions {
  width: 100%;
  @include flex(space-between, center, row);
}
.hide-search{
  @include flex(flex-end,center,row)
}

.header-searchbar {
  display: flex;
  flex-grow: 1;
  padding-left: 0.6rem;
  .search-form {
    width: 50%;
    input {
      border-radius: 0.1rem 0 0 0.1rem;
      width: 100%;
      border: none;
      outline: none;
      padding: 0.6rem 0.3rem;
    }
  }
}

.header-options {
  @include flex(space-between, center, row);
  font-size: 0.75rem;
  a {
    padding-left: 0.6rem;
  }
  #user-name{
    padding-left: 0.6rem;
    color: white;
  }
  .user-dropdown{
  font-size: 0.75rem !important;
    position: relative;
    #user-name{
      cursor: pointer;
    }
    z-index: 2;
    .dropdown-box{
      position: absolute;
      width: 200px;
      right: 0;
      top: 1.5rem;
      border-radius: 0.3rem;
      background: linear-gradient(145deg, #364148, #2d373c);
      box-shadow:  0px 0px 5px rgba(34,41,46,0.3),
             0px 0px 5px rgba(66,81,88,0.7);
      ul{
        font-size: 0.938rem;
        list-style: none;
          border: none;
          a{
            padding: 0;
          }
        li{
          padding: 0.6rem;
          color: white;
          border: none;
        }
        li:first-child{
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;
        }
        li:last-child{
          border-bottom-left-radius: 0.1rem;
          border-bottom-right-radius: 0.1rem;
        }
        li:hover{
          background-color: $accent-color;
          color: $text-color;
          cursor: pointer;
        }
      }
    }
    .dropdown-box.active{
      display: block;
    }
  }
}
