@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.03125rem;
}
.h2,
h2 {
  font-size: 1.625rem;
}
.h3,
h3 {
  font-size: 1.421875rem;
}
.h4,
h4 {
  font-size: 1.21875rem;
}
.h5,
h5 {
  font-size: 1.015625rem;
}
.h6,
h6 {
  font-size: 0.8125rem;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($repeat, $min, $max, $gap) {
  display: grid;
  grid-template-columns: repeat($repeat, minmax($min, $max));
  grid-gap: $gap;
}

a {
  text-decoration: none;
  color: white;
}

$bg-color:#fafafa;
$accent-color:#A7C080;
$text-color:#323d43;

body{
  background-color:  $bg-color;
}



/* MAIN */
#main-container{
  @include flex(space-between,stretch,row)
  width: 90%;
  margin: 1.2rem auto;
}

main {
  background-color: white;
  min-height: 90vh;
  width: 70%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1), 0px 0px 1.2px rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}

/* CARD */
.product-row {
  @include grid(auto-fill, 200px, 1fr, 1.2rem);
  padding: 1.2rem;
}

.card {
  padding: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3rem;
  .title {
    font-size: 0.875rem;
    font-weight: 400;
  }
  .picture {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@import "header";
@import "sidebar";
@import "carousel";
@import "filterbar"
